$header_comment$

#include "$filename(enum)$.h"

GType $prefix$_get_type() {

    static GType enum_type = 0;
    GEnumValue* values;
    guint idx;
    
    if (!enum_type) {
    
        values = g_new(GEnumValue, $numCodes$+1);
        idx = 0;
#! for code in enum.codes

        values[idx].value = $ENUM_ABS_NAME$_$upper($$code.name$$)$;
        values[idx].value_name = "$code.name$";
        values[idx].value_nick = "$code.name$";
        idx++;

#! end
        values[idx].value = 0;
        values[idx].value_name = NULL;
        values[idx].value_nick = NULL;
    
        enum_type = g_enum_register_static("$EnumAbsName$", values);
        
    }

    return enum_type;
    
}

